In [1]:
import pandas as pd 
import censusdata

In [2]:
pd.set_option('display.expand_frame_repr', False)
pd.set_option('display.precision', 2)

In [3]:
county_econ_df = censusdata.download('acs5', 2018, censusdata.censusgeo([('county', '*')]),
                             ['C24050_001E', 'C24050_002E', 'C24050_003E', 'C24050_004E',
                              'C24050_005E', 'C24050_006E', 'C24050_007E', 'C24050_008E',
                              'C24050_009E', 'C24050_010E', 'C24050_011E', 'C24050_012E',
                              'C24050_013E', 'C24050_014E'
                             ])

In [4]:
county_econ_df.describe()

       C24050_001E  C24050_002E  C24050_003E  C24050_004E  C24050_005E  C24050_006E  C24050_007E  C24050_008E  C24050_009E  C24050_010E  C24050_011E  C24050_012E  C24050_013E  C24050_014E
count     3.22e+03      3219.00      3219.00      3219.00      3219.00      3219.00      3219.00      3219.00      3219.00      3219.00     3.22e+03      3219.00      3219.00      3219.00
mean      4.78e+04       871.97      3084.40      4859.42      1259.40      5398.02      2492.10       988.71      3128.52      5453.48     1.10e+04      4628.43      2335.18      2226.94
std       1.58e+05      2411.54     10159.49     14881.50      4805.32     17014.87      9231.31      5081.49     11833.07     22036.10     3.45e+04     17189.20      8501.92      6445.17
min       3.60e+01         0.00         0.00         0.00         0.00         3.00         0.00         0.00         0.00         0.00     3.00e+00         0.00         0.00         0.00
25%       4.59e+03       252.50       327.00       464.50        91.00       484.00       247.00        46.00       168.00       234.50     1.05e+03       307.50       201.00       237.50
50%       1.06e+04       456.00       808.00      1392.00       240.00      1274.00       578.00       130.00       431.00       668.00     2.46e+03       839.00       511.00       548.00
75%       2.92e+04       828.50      2129.00      3954.50       704.00      3587.50      1539.00       411.00      1384.50      2230.50     7.04e+03      2665.00      1407.00      1495.50
max       4.87e+06     74447.00    284152.00    468036.00    165067.00    506432.00    283832.00    216025.00    295370.00    628758.00     1.00e+06    549162.00    290342.00    156015.00

In [5]:
new_columns = ['pct_agriculture', 'pct_construction', 'pct_manufacturing', 'pct_wholesale',
               'pct_retail', 'pct_transportation', 'pct_information', 'pct_finance', 
               'pct_professional', 'pct_education', 'pct_arts_food', 'pct_other',
               'pct_public']

columns = county_econ_df.columns[1:]

In [10]:
county_econ_df.head()

                                                    C24050_001E  C24050_002E  C24050_003E  C24050_004E  C24050_005E  C24050_006E  C24050_007E  C24050_008E  C24050_009E  C24050_010E  C24050_011E  C24050_012E  C24050_013E  C24050_014E
Washington County, Mississippi: Summary level: ...      17133.0        406.0        913.0       1363.0        399.0       2622.0       1037.0        311.0        607.0        990.0       4773.0       1718.0        720.0       1274.0
Perry County, Mississippi: Summary level: 050, ...       4591.0        178.0        467.0        656.0        108.0        422.0        324.0         42.0         88.0        349.0       1020.0        362.0        256.0        319.0
Choctaw County, Mississippi: Summary level: 050...       3097.0        185.0        295.0        478.0         39.0        422.0        218.0         16.0         42.0        121.0        869.0         44.0        178.0        190.0
Itawamba County, Mississippi: Summary level: 05...       9509.0        113.0        730.0       2413.0        139.0        986.0        653.0        119.0        513.0        609.0       2030.0        547.0        405.0        252.0
Carroll County, Mississippi: Summary level: 050...       3466.0        106.0        341.0        512.0         68.0        198.0        254.0        162.0        132.0        229.0        761.0        199.0        172.0        332.0

In [21]:
county_econ_pct_df = county_econ_df.apply(lambda x: x/county_econ_df['C24050_001E'])
county_econ_pct_df.drop(columns='C24050_001E', inplace=True)

In [23]:
county_econ_pct_df.columns = new_columns

In [24]:
county_econ_pct_df.head()

                                                    pct_agriculture  pct_construction  pct_manufacturing  pct_wholesale  pct_retail  pct_transportation  pct_information  pct_finance  pct_professional  pct_education  pct_arts_food  pct_other  pct_public
Washington County, Mississippi: Summary level: ...             0.02              0.05               0.08           0.02        0.15                0.06         1.82e-02         0.04              0.06           0.28           0.10       0.04        0.07
Perry County, Mississippi: Summary level: 050, ...             0.04              0.10               0.14           0.02        0.09                0.07         9.15e-03         0.02              0.08           0.22           0.08       0.06        0.07
Choctaw County, Mississippi: Summary level: 050...             0.06              0.10               0.15           0.01        0.14                0.07         5.17e-03         0.01              0.04           0.28           0.01       0.06        0.06
Itawamba County, Mississippi: Summary level: 05...             0.01              0.08               0.25           0.01        0.10                0.07         1.25e-02         0.05              0.06           0.21           0.06       0.04        0.03
Carroll County, Mississippi: Summary level: 050...             0.03              0.10               0.15           0.02        0.06                0.07         4.67e-02         0.04              0.07           0.22           0.06       0.05        0.10

In [15]:
county_econ_pct_2_df = county_econ_df.apply(lambda x: x/county_econ_df['C24050_001E'])

In [16]:
county_econ_pct_2_df.head()

                                                    C24050_001E  C24050_002E  C24050_003E  C24050_004E  C24050_005E  C24050_006E  C24050_007E  C24050_008E  C24050_009E  C24050_010E  C24050_011E  C24050_012E  C24050_013E  C24050_014E
Washington County, Mississippi: Summary level: ...          1.0         0.02         0.05         0.08         0.02         0.15         0.06     1.82e-02         0.04         0.06         0.28         0.10         0.04         0.07
Perry County, Mississippi: Summary level: 050, ...          1.0         0.04         0.10         0.14         0.02         0.09         0.07     9.15e-03         0.02         0.08         0.22         0.08         0.06         0.07
Choctaw County, Mississippi: Summary level: 050...          1.0         0.06         0.10         0.15         0.01         0.14         0.07     5.17e-03         0.01         0.04         0.28         0.01         0.06         0.06
Itawamba County, Mississippi: Summary level: 05...          1.0         0.01         0.08         0.25         0.01         0.10         0.07     1.25e-02         0.05         0.06         0.21         0.06         0.04         0.03
Carroll County, Mississippi: Summary level: 050...          1.0         0.03         0.10         0.15         0.02         0.06         0.07     4.67e-02         0.04         0.07         0.22         0.06         0.05         0.10

In [18]:
county_econ_pct_2_df.iloc[:,1:].sum(axis=1)

Washington County, Mississippi: Summary level: 050, state:28> county:151    1.0
Perry County, Mississippi: Summary level: 050, state:28> county:111         1.0
Choctaw County, Mississippi: Summary level: 050, state:28> county:019       1.0
Itawamba County, Mississippi: Summary level: 050, state:28> county:057      1.0
Carroll County, Mississippi: Summary level: 050, state:28> county:015       1.0
                                                                           ...
Clayton County, Iowa: Summary level: 050, state:19> county:043              1.0
Buena Vista County, Iowa: Summary level: 050, state:19> county:021          1.0
Guthrie County, Iowa: Summary level: 050, state:19> county:077              1.0
Humboldt County, Iowa: Summary level: 050, state:19> county:091             1.0
Washington County, Iowa: Summary level: 050, state:19> county:183           1.0
Length: 3220, dtype: float64